

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

li {
  list-style-type: none;
}

.profile-dropdown {
  position: absolute;
  z-index: 1000;
  border: 1px solid gainsboro;
}

.profile-dropdown li {
  padding-bottom: 5px;
  padding-top: 5px;
}

#profile-link {
  background-color: gainsboro;
  border-bottom: 1px solid white;
}

#profile-link:hover {
  background-color: gray;
}

#logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  margin-left: .5em;
}

.logo-li {
  margin-right: auto;
  padding-left: 5px;
}

#logo:hover {
  color: #fca311;
}

#noDeco {
  color: white;
  text-decoration: none;
}

#noDeco:hover {
  color: #fca311;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 85%;
  list-style-type: none;
  border-bottom: 1px solid black;
  background-color: #14213d;
  margin: auto;
}

.nav-background {
  background-color: #14213d;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav-bar>li {
  padding-right: 1em;
}

.li-nav-bar {
  display: flex;
  align-items: center;
  gap: 2em;
}

.menu-div {
  position: relative;
}

.menu-div ul {
  position: absolute;
  list-style-type: none;
  top: 40px;
  right: 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  align-items: center;
  background-color: white;
  text-align: center;
}

.manage-li {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 3px 0;
  margin: 4px 0;
}

.manage-link {
  text-decoration: none;
  color: black;
}

.signout-button {
  background-color: #14213d;
  border: 1px solid black;
  color: #fca311;
  border-radius: 10%;
  padding: 10px 17px;
  cursor: pointer;
}

.signout-button:hover {
  background-color: #fca311;
  color: #14213d;
}

.searchbar-li {
  position: absolute;
  left: 40%;
}

.search-input {
  padding: 6px;
  border-radius: 5px;
  border: 0;
}

.menu-button {
  cursor: pointer;
}

.profile-menu {
  height: 33px;
  width: 33px;
  object-fit: cover;
  border-radius: 45%;
}

.fa-angle-down {
  font-size: small;
  color: #e5e5e5;
  margin-left: 3px;
  vertical-align: super;
  cursor: pointer;
}

.menu-button:hover .fa-angle-down {
  color: #fca311;
}

.navlink-link {
  text-decoration: none;
  color: #e5e5e5;
}

.navlink-link:hover {
  color: #fca311;
  text-decoration: underline;
}

.navbar-button {
  cursor: pointer;
  color: white;
  background-color: #14213d;
  border: 1px solid #e5e5e5;
  border-radius: 5%;
  padding: 8px;
}

.navbar-button:hover {
  background-color: #fca311;
  color: #14213d;
  border: none;
}

#search-bar-box input {
  background-color: #e5e5e5;
}

#search-bar-box input:focus {
  outline: none;
  box-shadow: 5px 5px 8px #fca311;
}