#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: relative;
  background-color:white;
  margin-top: auto;
  margin-bottom: auto;
}

.modal-content[class*="-right"] {
  margin-left: auto;
  animation: slide-in 0.5s ease-out;
}

.modal-content[class*="-center"] {
  background-color: rgba(254, 254, 254, 0.901);
  animation: slide-down 0.5s ease-out;
}

.modal-content[class*="-left"] {
  /* margin-right: auto; */
  background-color: #e5e5e5;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

