.user-book-card {
    display: flex;
    width: 100%;
    border: 2px solid #e5e5e5;
    margin-top: 20px;
    margin-bottom: 0;
}

.user-book-card img {
    height: 100%;
    width: 180px;
}

.card-image {
    height: 280px;
}

.card-image:hover {
    box-shadow: 10px 5px 3px #14213d;
    opacity: 0.8;
}

.book-card-details {
    padding: 3%;
}

.book-title:hover {
    color: #14213d;
}

#author-name {
    margin-bottom: 0;
}

.book-card-link {
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}

.author-name {
    margin-top: 0;
    margin-bottom: 0;
}

.book-card-pages {
    display: flex;
    font-size: smaller;
}

#book-card-genre {
    margin-top: 0;
    font-size: smaller;
    border: 1px solid #e5e5e5;
    width: fit-content;
    padding: 5px;
}