@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

.all-user-books {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1240px;
    margin: auto;
    align-items: center;
}

.user-book-button-container {
    flex-direction: column;
    width: 70%;
}

.user-book-buttons {
    display: flex;
    justify-content: end;
}

.button-user-books {
    padding: 10px 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    cursor: pointer;
    background-color: #14213d;
    color: #fca311;
    font-size: large;
}